.characterPosition {
	height: 40px;
	border: 1px solid black;
}

#gameMain {
	max-height: 100vh;
}	

.terrainBox {
	height: 40%;	
	position: relative;
	margin-top: 0%;
	position: relative;
}	

.terrainBox #enemyCondition{
	right: 0;
	top: 0; 
	position: absolute;
}	

.terrainBox #activePlayer {
    position: absolute;
    left: 0;
    bottom: 0;
}

.terrainBox #activeEnemy {
    position: absolute;
    right: 0;
    bottom: 0;
}

#playerPanel {
	text-align: left;	
}	

#characterGrid {
	margin-top: 10%;	
}

#playerMainDashboard {
	margin-top: 10%;	
}

#playerCommandCenter {
	margin-top: 10%;	
}	

.enemyStatus {
	font-size: 10pt;
}

#enemyHealthSquare {
	height: 20px;
	width: 20px;
	background-color: blue;
	margin-bottom: 2px;
}

#enemyConditionTriangle {
	width:0;
	height:0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid green;
	margin-bottom: 2px;
}

#enemyStaminaCircle {
	height: 20px;
	width: 20px;
	background-color: blue;
	border-radius: 50%;	
}

#playerHealthSquare {
	height: 20px;
	width: 20px;
	background-color: black;
	margin-bottom: 2px;
	color: white;
}

#playerConditionTriangle {
	width:0;
	height:0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid blue;
	margin-bottom: 2px;
	float: right;
}

#playerStaminaCircle {
	height: 20px;
	width: 20px;
	background-color: black;
	border-radius: 50%;	
	color: white;	
}

.playerBodyGrid {
	height: 20px;
	width: 20px;
	background-color: green;
	border: 1px solid black;
}	

.actorGridContainer {
	padding-left: 40px;	
}

#gameControlRow {
	min-width: 100%;
}	

#startLogoTitle {
	max-width: 100%;
	margin-left: 0px;
}

#gameIntroMenu {
	max-width: 100%;
	margin-left: 0px;
}

#playerConfigMenu p{
	min-width: 100%;
}	

#playerConfigMenu button{
	display: inline-block;
}	

#playerCommandCenter {
	margin-left: 0;
	margin-right: 0;
}

#storyImage {
	min-height: 40vh;
}	

#storyTextContent {
	min-height: 40vh;
}	

div .mapTile {
	min-height: 5vh;
	min-width: 5vh;	
}	